/* You can add global styles to this file, and also import other style files */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --text-color: #e8eaed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #efefef;
    --text-color: #333;
  }
}

// font-family: 'Eczar', serif;
// font-family: 'Montserrat', sans-serif;
// #af4448 #e57373 #ffa4a2

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

